/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1E2738;
}

/* Container Styling */
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  min-height: 350px;
  padding: 20px 50px;
  border: 2px solid #058f9c;
  border-radius: 18px;
  box-shadow: 10px 10px 50px #033e81;
  transition: all ease-in 0.2s;
  animation: animation 5s infinite forwards;
}

/* Animation */
@keyframes animation {
  0% {
    box-shadow: 10px 10px 50px #033e81;
  }
  50% {
    box-shadow: -10px 20px 50px #3181dc;
  }
  100% {
    box-shadow: 10px -20px 50px #1270ab;
  }
}

/* Typography */
h2 {
  color: #08ECFF;
}

/* Form Styling */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

/* Inputs, Textarea, and Select */
.input {
  width: 100%;
  background-color: transparent;
  border-radius: 20px;
  border: 1.5px solid #223d73;
  padding: 5px 10px;
}

input,
textarea,
select {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px;
  color: #00eaff;
}

input::placeholder,
textarea::placeholder {
  color: #93bbbf;
}

textarea {
  resize: none;
}

/* Button */
button {
  width: 100%;
  height: 35px;
  border-radius: 20px;
  font-weight: 600;
  background-color: #08ECFF;
  border: none;
  cursor: pointer;
}

/* Message Styling */
p.error,
div.error {
  color: red;
  font-size: 12px;
  margin-top: 3px;
}

p.success {
  color: green;
  font-size: 14px;
  margin-top: 5px;
}
