<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="front end/CSS/contact.css"> 
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>

</head>
<body>
    <div class="contact-container">
        <h2>Hope you are enjoying our website!!</h2>
        <p>If you have any problem, don't hesitate to contact us</p>

        <div class="contact-item">
            <i class="ri-mail-line"></i>
            <div class="contact-box">
                <span id="email">ymd@gmail.com</span>
                <i class="ri-file-copy-line copy-icon" data-copy="email"></i>
            </div>
        </div>

        <div class="contact-item">
            <i class="ri-facebook-circle-line"></i>
            <div class="contact-box">
                <span id="facebook">ymd@gmail.com</span>
                <i class="ri-file-copy-line copy-icon" data-copy="facebook"></i>
            </div>
        </div>

        <div class="contact-item">
            <i class="ri-instagram-line"></i>
            <div class="contact-box">
                <span id="instagram">ymd@gmail.com</span>
                <i class="ri-file-copy-line copy-icon" data-copy="instagram"></i>
            </div>
        </div>
    </div>
    <script src="JS/script.js"></script>
    <script src="JS/settings.js"></script>
</body>
</html>
