<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="front end/CSS/settings.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>

</head>
<body>
    <div class="settings-container">
        <h1>Settings</h1>

        <h2>Theme</h2>
        <div class="theme-options">
            <button class="theme-btn" id="default-theme" data-tooltip="Default">
                <i class="ri-eth-line"></i>
            </button>
            <button class="theme-btn" id="dark-theme" data-tooltip="Dark Mode">
                <i class="ri-moon-fill"></i>
            </button>
            <button class="theme-btn" id="light-theme" data-tooltip="Light Mode">
                <i class="ri-sun-line"></i>
            </button>
        </div>

        <button id="resetPasswordBtn" class="P-btn">Reset Password</button> 
    </div> 
       <script defer src="front end/js/script.js"></script>
</body>
</html>
